@model ItemViewModel

@{
    ViewBag.Title = Model.Title;
}
<div class="row top-buffer">
    <div class="col-md-12">
        <small>
            <a asp-controller="Home" asp-action="Index">Library</a> >
            <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.Shelf.CreatedBy.Name">@Model.Shelf.CreatedBy.Name's shelves</a> >
            <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.ShelfId">@Model.Shelf.Title</a>
        </small>
    </div>
</div>


<div class="row top-buffer">
    <div class="col-sm-2">
        <img src="@Html.Raw(Model.CoverImageUrl ?? "/images/book.jpg")" alt="@Model.Title" class="img-responsive" id="coverImage" />
        @if (Model.IsShelfOwner)
        {
            <form method="post" id="myform" enctype="multipart/form-data">
                <input type="file" name="file" id="file" accept="image/*" />
                <br />
                <input type="submit" value="Change cover" />
            </form>
        }
    </div>
    <div class="col-sm-10">
        <h2>
            @if (Model.IsShelfOwner)
            {
                <span class="js-editable" data-type="text" data-pk="@Model.Id" data-url="@Url.Action("Edit", "Items")" data-title="Change title">@Model.Title</span>
            }
            else
            {
                @Model.Title
            }
        </h2>
        @if (Model.BookDetail != null)
        {
            <h3>@Model.BookDetail.Subtitle</h3>
            <p>Published by @Model.BookDetail.Publisher on @Model.BookDetail.PublishedYear</p>

            <p>@Html.Raw(Model.BookDetail.Description)</p>
        }

        @if (Model.GameDetail != null)
        {
            if (Model.GameDetail.Title != Model.GameDetail.TitleOriginal)
            {
                <h3>@Model.GameDetail.TitleOriginal</h3>
            }

            @if (Model.GameDetail.Released != null)
            {
                <p>
                    Released on @Model.GameDetail.Released.Value.LocalDateTime.ToShortDateString()
                </p>
            }
            <p>@Html.Raw(Model.GameDetail.Description)</p>
        }

    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ItemController.init(@Model.Id);
        });
    </script>
}