@model ItemViewModel

@{
    ViewBag.Title = Model.Title;
}

@section Breadcrumb
{
    <a asp-controller="Home" asp-action="Index">Library</a> >
    <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.Shelf.CreatedBy.Name">@Model.Shelf.CreatedBy.Name's shelves</a> >
    <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.ShelfId">@Model.Shelf.Title</a>
}

@section Featured
{
    <div class="wrapper">
        <img class="card-img-top img-fluid" src="@Html.Raw(Model.CoverImageUrl ?? "/images/book.jpg")" alt="@Model.Title" id="coverImage">
    </div>
    <div class="card-img-overlay">
        <p class="card-text">
            @if (Model.IsShelfOwner)
            {
                <form method="post" id="myform" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" accept="image/*"/>
                    <br/>
                    <input type="submit" value="Change cover"/>
                </form>
            }
        </p>
    </div>
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>
            @if (Model.IsShelfOwner)
            {
                <span class="js-editable" data-type="text" data-pk="@Model.Id" data-url="@Url.Action("Edit", "Items")" data-title="Change title">@Model.Title</span>
            }
            else
            {
                @Model.Title
            }
        </h2>
        @if (Model.BookDetail != null)
        {
            <h3>@Model.BookDetail.Subtitle</h3>
            <p>Published by @Model.BookDetail.Publisher on @Model.BookDetail.PublishedYear</p>

            <p>@Html.Raw(Model.BookDetail.Description)</p>
        }

        @if (Model.GameDetail != null)
        {
            if (Model.GameDetail.Title != Model.GameDetail.TitleOriginal)
            {
                <h3>@Model.GameDetail.TitleOriginal</h3>
            }

            @if (Model.GameDetail.Released != null)
            {
                <p>
                    Released on @Model.GameDetail.Released.Value.LocalDateTime.ToShortDateString()
                </p>
            }
            <p>@Html.Raw(Model.GameDetail.Description)</p>
        }

    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ItemController.init(@Model.Id);
        });
    </script>
}