@model GameSearchViewModel

@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.Search) ? "Search" : Model.Search;
}

<h2>Search Games</h2>
<p>Find and add games to your shelf.</p>

<form asp-controller="Items" asp-action="SearchGames" method="get" class="form-horizontal" id="frmFilter">
    <div class="row top-buffer">
        <div class="col-sm-6">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Game title, publisher, genre" name="query" value="@Model.Search">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

        </div>
        <div class="col-sm-4 col-sm-offset-2">
            @if (Model.UserShelves != null && Model.UserShelves.Any())
            {

                <div class="form-group">
                    <label asp-for="ShelfId" class="col-sm-2 control-label">Shelf:</label>
                    <div class="col-sm-10">
                        <select asp-for="ShelfId" asp-items="Model.UserShelves" class="form-control" id="js-select-shelf"></select>
                    </div>
                </div>
            }
        </div>
    </div>
</form>


<div class="row top-buffer">
    <div class="col-md-12">
        <div id="grid" data-columns>
            @if (string.IsNullOrWhiteSpace(Model.Search))
            {
                <p>Write the name of the book to search and add to the shelf.</p>
            }
            else if (Model.GameList != null && Model.GameList.Any())
            {
                foreach (var game in Model.GameList)
                {
                    <div class="thumbnail book">
                        <img src="@Html.Raw(!string.IsNullOrWhiteSpace(game.ImageLink) ? game.ImageLink : "/images/book.jpg")" alt="@game.Title" class="img-responsive" />
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>@game.Title</h4>
                                </div>
                                <div class="col-md-3 top-buffer">
                                    <div class="actions">

                                        <button type="button"
                                                class="btn btn-success js-add-game"
                                                data-game-id="@game.Id"
                                                aria-label="Add"
                                                data-toggle="tooltip"
                                                title="Add to my shelf"
                                                data-title="@game.Title">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            @if (!string.IsNullOrWhiteSpace(Model.Search))
            {
                <div class="thumbnail book">
                    <img src="~/images/book.jpg" class="img-responsive" />
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>@Model.Search</h4>
                                <p>
                                    Maybe we couldn't find the game you are looking for but you can still add it without details.
                                </p>
                            </div>
                            <div class="col-md-3 top-buffer">
                                <div class="actions">

                                    <button type="button"
                                            class="btn btn-success js-add-game"
                                            aria-label="Add"
                                            data-toggle="tooltip"
                                            title="Add to my shelf"
                                            data-title="@Model.Search">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            GameController.init();
        });
    </script>
}