@{
    Layout = "_Layout";
}

<div class="row top-buffer profile">
    <div class="col-md-4">
        @RenderSection("UserInfo")
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    @foreach (var tab in ProfileTabs.All())
                    {
                        <li role="presentation" class="nav-item">
                            <a class="nav-link @Html.Raw(ViewData[ViewDataParameters.Tab].ToString() == tab ? "active" : "")"
                               asp-controller="Profiles" asp-action="Index" asp-route-userName="@ViewData[ViewDataParameters.UserName]" asp-route-tab="@tab">@tab</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", false)
}
