@model ShelfViewModel

<div class="card @(Model.IsPublic ? "" : "border-light")" style="max-width: 18rem;">
    <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.Id" asp-route-slug="@Model.Slug">
        <img class="card-img-top img-responsive" src="/images/emptyShelf.png" alt="@Model.Title">
    </a>

    <div class="card-body">
        <h5 class="card-title">
            <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.Id" asp-route-slug="@Model.Slug">@Model.Title</a>
        </h5>
        @if (Model.ShowActions)
        {
            <button data-shelf-id="@Model.Id" type="button" class="btn @(Model.IsStarred ? "btn-warning" : "btn-default text-muted")  btn-xs card-link js-toggle-star">
                <span class="oi oi-bookmark" title="Bookmark" aria-hidden="true"></span>
            </button>
        }
    </div>

    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Items)
        {
            <li class="list-group-item">
                <a class="text-white" asp-controller="Items" asp-action="Detail" asp-route-itemId="@item.Id" asp-route-shelfId="@Model.Id" asp-route-slug="@item.Slug">
                    @item.Title
                </a>
            </li>
        }
    </ul>

    <div class="card-footer">

        @if (Model.UpdateDate > Model.CreationDate)
        {
            <small class="text-muted">
                Last updated <abbr class="js-timeago" title="@Model.UpdateDate">1 minute ago</abbr>
            </small>
        }
        else
        {
            <small class="text-muted">
                Created <abbr class="js-timeago" title="@Model.CreationDate">1 minute ago</abbr>
            </small>
        }

    </div>
</div>
