@model ShelfViewModel

<div class="card @(Model.IsPublic ? "" : "border-light")" style="max-width: 18rem;">
    <img class="card-img-top img-responsive" src="/images/emptyShelf.png" alt="@Model.Title">

    <div class="card-body">
        <h5 class="card-title">
            <span class="oi  @(Model.IsPublic ? "oi-vertical-align-bottom" : "oi-bar-chart") "></span>
            <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.Id" asp-route-slug="@Model.Slug">@Model.Title</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            Created by <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.CreatedBy.Name">@Model.CreatedBy.Name</a> on @Model.CreationDate.ToLongDateString()
        </h6>
        @if (Model.ShowActions)
        {
            <button data-shelf-id="@Model.Id" type="button" class="btn @(Model.IsStarred ? "btn-warning" : "btn-default text-muted")  btn-xs card-link js-toggle-star">
                <span class="oi oi-bookmark" title="Bookmark" aria-hidden="true"></span>
            </button>
        }
    </div>

    <ul class="list-group list-group-flush">
        @foreach (var book in Model.Items)
        {
            <li class="list-group-item">@book.Title</li>
        }
    </ul>

    <div class="card-footer">
        <small class="text-muted">Last updated @Model.UpdateDate</small>
    </div>
</div>
