@model ShelfViewModel

<div class="card @(Model.IsPublic ? "" : "border-light")">
    <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.Id" asp-route-slug="@Model.Slug">
        <img class="card-img-top img-responsive" src="/images/emptyShelf.png" alt="@Model.Title">
    </a>

    <div class="card-body">
        @if (Model.ShowActions)
        {
            <button data-shelf-id="@Model.Id" type="button"
                    class="btn @(Model.IsStarred ? "btn-warning" : "btn-default") card-link btn-lg js-toggle-star float-right"
                    style="top: -32px;position: relative;">
                <span class="oi oi-bookmark" title="Bookmark" aria-hidden="true"></span>
            </button>
        }
        <h5 class="card-title">
            <a asp-controller="Shelves" asp-action="Detail" asp-route-shelfId="@Model.Id" asp-route-slug="@Model.Slug">@Model.Title</a>
        </h5>
    </div>

    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Items)
        {
            <li class="list-group-item">
                <a class="text-white" asp-controller="Items" asp-action="Detail" asp-route-itemId="@item.Id" asp-route-shelfId="@Model.Id" asp-route-slug="@item.Slug">
                    @item.Title
                </a>
            </li>
        }
    </ul>

    <div class="card-footer">

        @if (Model.UpdateDate > Model.CreationDate)
        {
            <small class="text-muted">
                Last updated <abbr class="js-timeago" title="@Model.UpdateDate UTC">1 minute ago</abbr>
            </small>
        }
        else
        {
            <small class="text-muted">
                Created <abbr class="js-timeago" title="@Model.CreationDate UTC">1 minute ago</abbr>
            </small>
        }

    </div>
</div>
