@model ShelfViewModel
@{
    ViewData["Title"] = Model.Shelf.Title;
}
<div class="row top-buffer">
    <div class="col-md-12">
        <small>
            <a asp-controller="Home" asp-action="Index">Library</a> >
            <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.Shelf.CreatedBy.Name">Shelves of @Model.Shelf.CreatedBy.Name</a>
        </small>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-10">
        <h2>
            @if (Model.IsShelfOwner)
            {
                <span class="js-editable" data-type="text" data-pk="@Model.Shelf.Id" data-url="@Url.Action("Edit", "Shelves")" data-title="Rename shelf">@Model.Shelf.Title</span>
            }
            else
            {
                @Model.Shelf.Title
            }

            <small>
                <sup class="label label-warning" style="@(Model.Shelf.IsPublic ? "display: none;" : "")" id="lblIsPublic">Private</sup>

            </small>
        </h2>
        <p>
            Created by <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.Shelf.CreatedBy.Name">@Model.Shelf.CreatedBy.Name</a> on
            <span data-toggle="tooltip" title="@Model.Shelf.CreationDate.ToLongDateString()" data-placement="bottom">@Model.Shelf.CreationDate.DayOfWeek.ToString()</span>
            @if (Model.Shelf.CreationDate.Date != Model.Shelf.UpdateDate.Date)
            {
                <text> and updated on </text>
                <span data-toggle="tooltip" title="@Model.Shelf.UpdateDate.ToLongDateString()" data-placement="bottom"> @Model.Shelf.UpdateDate.DayOfWeek.ToString() </span>
            }
        </p>
    </div>
    <div class="col-md-2 top-buffer" id="js-operation">
        @if (Model.IsShelfOwner)
        {
            <!-- Split button -->
            <div class="btn-group pull-right">
                <a asp-controller="Items" asp-action="Search" asp-route-shelfId="@Model.Shelf.Id" class="btn btn-success">Add a Book</a>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-controller="Items" asp-action="Search" asp-route-shelfId="@Model.Shelf.Id">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Add a Book
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Items" asp-action="SearchGames" asp-route-shelfId="@Model.Shelf.Id">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Add a Game
                        </a>
                    </li>
                    <li>

                        <a href="#" id="js-makePrivate-shelf" data-shelf-id="@Model.Shelf.Id" aria-label="Hide" style="@(!Model.Shelf.IsPublic ? "display: none;" : "")">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Make private
                        </a>

                        <a href="#" id="js-makePublic-shelf" data-shelf-id="@Model.Shelf.Id" aria-label="Show" style="@(Model.Shelf.IsPublic ? "display: none;" : "")">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Make public
                        </a>

                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" id="js-remove-shelf" data-shelf-id="@Model.Shelf.Id" data-user-name="@Model.Shelf.CreatedBy.Name">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove shelf
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <div id="grid" data-columns>
            @foreach (var book in Model.Items)
            {
                <div class="thumbnail book">
                    <a asp-controller="Items" asp-action="Detail" asp-route-id="@book.Item.Id">
                        <img src="@Html.Raw(book.CoverImageUrl ?? "/images/book.jpg")" alt="@book.Item.Title" class="img-responsive" />
                    </a>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>
                                    <a asp-controller="Items" asp-action="Detail" asp-route-id="@book.Item.Id">
                                        @book.Item.Title
                                    </a>
                                </h4>
                                <h5>@book.BookDetail?.Subtitle</h5>
                                <p>
                                    <span>
                                        @if (book.BookDetail?.BookAuthorList != null)
                                        {
                                            @string.Join(", ", book.BookDetail?.BookAuthorList.Select(b => b.Author.Name))
                                        }
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-3 top-buffer">
                                <div class="actions">
                                    @if (Model.IsShelfOwner)
                                    {
                                        <button type="button" class="btn btn-danger js-remove-book" data-book-id="@book.Item.Id" aria-label="Remove">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ShelfController.init();
        });
    </script>
}