@model ProfileViewModel
@{
    ViewBag.Title = Model.User.Name;
}

<header class="page-header page-header-light bg-light">
    <div class="page-header-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <a href="https://gravatar.com/" target="_blank" title="Change profile picture"><img class="mb-4 rounded-circle" src="@Model.ImageUrl" style="width: 15rem;" /></a>
                    <h1 class="page-header-title">@Model.User.Name</h1>
                    <p class="page-header-text">
                        @if (Model.ShowActions && !Model.IsProfileOwner)
                        {
                            <button type="button" data-user-id="@Model.User.Id"
                                    class="btn btn-@(Model.IsFollowing ? "success" : "default") btn-lg js-toggle-follow">
                                Follow
                            </button>
                        }
                    </p>
                    <p class="page-header-text">
                        <button class="btn btn-link"><b>@Model.ShelvesCount</b> shelves</button>
                        <button class="btn btn-link" id="btnFollowers"><b>@Model.FollowersCount</b> followers</button>
                        <button class="btn btn-link" id="btnFollowing"><b>@Model.FollowingCount</b> following</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-white py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <a class="btn @Html.Raw(Model.Tab == ProfileTabs.Shelves ? "btn-primary" : "btn-link") btn-marketing rounded-pill" asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.User.Name" asp-route-tab="@ProfileTabs.Shelves">Shelves</a>
                <a class="btn @Html.Raw(Model.Tab == ProfileTabs.Bookmarks ? "btn-primary" : "btn-link") btn-marketing rounded-pill" asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.User.Name" asp-route-tab="@ProfileTabs.Bookmarks">Bookmarks</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-10">
    <div class="container">
        <div class="row mb-5" id="divShelves">
            Loading...
        </div>
        <nav aria-label="Shelf pages" id="navShelves">
        </nav>
    </div>
</section>


@section Scripts{
    <script type="text/x-template" id="followers-template">
        <div class="list-group small mb-5">
            <%
            _.each(followers, function(follower){
            %>
            <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between" href="/p/<%= follower.name %>">
                <%= follower.name %><i class="fas fa-arrow-right fa-xs text-gray-400"></i>
            </a>
            <%
            })
            %>
        </div>
    </script>

    <script type="text/x-template" id="shelves-template">
        <%
        _.each(shelves, function(shelf){
        %>
        <div class="col-lg-4 mb-5">
            <a class="card lift h-100" href="/shelves/<%= shelf.id %>/<%= shelf.slug %>">
                <img class="card-img-top" src="/images/emptyShelf.png" alt="..." />
                <div class="card-body">
                    <h4 class="card-title mb-2"><%= shelf.title %></h4>
                    <p class="card-text">Last updated <abbr class="js-timeago" title="<%= shelf.updateDate %> UTC"><%= moment.utc(shelf.updateDate).local().fromNow() %></abbr></p>
                </div>
                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                    <div class="small text-primary">See more</div>
                    <div class="small text-primary">...</div>
                </div>
            </a>
        </div>
        <%
        })
        %>
    </script>

    <script src="https://unpkg.com/%40popperjs/core@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {
            ProfileController.init(".container", "@Model.User.Id", "#followers-template", "#shelves-template", "@Model.Tab");
        });
    </script>
}
