@model ProfileViewModel
@{
    Layout = "_ProfileLayout";
    ViewData[ViewDataParameters.Title] = Model.User.Name;
    ViewData[ViewDataParameters.UserName] = Model.User.Name;
    ViewData[ViewDataParameters.Tab] = Model.Tab;
}

@section UserInfo
{
    <img src="@Model.ImageUrl" class="img-rounded img-responsive"/>
    <p>
        Visit <a href="https://gravatar.com/" target="_blank">Gravatar <span class="glyphicon glyphicon-new-window"></span></a>
        to update your profile picture.
    </p>
    <h2>@Model.User.Name</h2>
    @if (Model.ShowActions)
    {
        if (Model.IsProfileOwner)
        {
            <a asp-controller="Shelves" asp-action="Create" class="btn btn-success btn-lg">Add a Shelf</a>
        }
        else
        {
            <button type="button"
                    data-user-id="@Model.User.Id"
                    class="btn btn-@(Model.IsFollowing ? "success" : "default") btn-lg js-toggle-follow">
                Follow
            </button>
        }

    }
}

@foreach (var shelf in Model.Shelves)
{
    @Html.Partial("_ShelfPartial", new ShelfViewModel
{
    Shelf = shelf,
    ShowActions = Model.ShowActions,
    IsStarred = Model.Stars != null && Model.Stars.Contains(shelf.Id)
})
}

@if (Model.Users.Any())
{
    <ul class="users">
        @foreach (var user in Model.Users)
        {
            <li>
                <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@user.Name">@user.Name</a>
            </li>
        }
    </ul>
}



@section Scripts{
    <script>
        $(document).ready(function() {
            ProfileController.init(".profile");
        });
    </script>
}