@model ShelfViewModel
@{
    ViewData["Title"] = Model.Title;
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    <div class="page-header-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">
                        <span id="spnTitle">@Model.Title</span>
                        <sup class="badge badge-yellow-soft text-xs" style="@(Model.IsPublic ? "display: none;" : "")" id="lblIsPublic">Private</sup>
                    </h1>
                    @if (Model.IsShelfOwner)
                    {
                        <div class="page-header-text" id="js-operation">
                            Add a new <a data-shelfId="@Model.Id" class="btn btn-default text-light js-add-item" title="item" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-cube"></i></a>,
                            <a asp-controller="Items" asp-action="Search" asp-route-shelfId="@Model.Id" class="btn btn-default text-light" title="book" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-book"></i></a>,
                            <a asp-controller="Items" asp-action="SearchGames" asp-route-shelfId="@Model.Id" class="btn btn-default text-light" title="game" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-gamepad"></i></a> or

                            <!-- Split button -->
                            <div class="btn-group pull-right no-caret">
                                <button type="button" class="btn btn-default text-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret">...</span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <button type="button" id="js-rename-shelf" class="dropdown-item text-dark">
                                        rename shelf
                                    </button>
                                    <button type="button" id="js-makePrivate-shelf" aria-label="Hide" style="@(!Model.IsPublic ? "display: none;" : "")" class="dropdown-item text-dark">
                                        make shelf private
                                    </button>
                                    <button type="button" id="js-makePublic-shelf" aria-label="Show" style="@(Model.IsPublic ? "display: none;" : "")" class="dropdown-item text-dark">
                                        make shelf public
                                    </button>
                                    <button type="button" id="js-remove-shelf" class="dropdown-item text-dark">
                                        remove shelf
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="page-header-text">

                            Created by <a asp-controller="Profiles" asp-action="Index" asp-route-userName="@Model.CreatedBy.Name">@Model.CreatedBy.Name</a> on
                            <span data-toggle="tooltip" title="@Model.CreationDate.ToLongDateString()" data-placement="bottom">@Model.CreationDate.DayOfWeek.ToString()</span>
                            @if (Model.CreationDate.Date != Model.UpdateDate.Date)
                            {
                                <text> and updated on </text>
                                <span data-toggle="tooltip" title="@Model.UpdateDate.ToLongDateString()" data-placement="bottom"> @Model.UpdateDate.DayOfWeek.ToString() </span>
                            }
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.ItemViewModels)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a asp-controller="Items" asp-action="Detail" asp-route-itemId="@item.Id" asp-route-shelfId="@item.ShelfId" asp-route-slug="@item.Slug">
                            <div class="wrapper">
                                <img class="card-img-top img-fluid" src="@Html.Raw(item.CoverImageUrl ?? "/images/book.jpg")" alt="@item.Title">
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-controller="Items" asp-action="Detail" asp-route-itemId="@item.Id" asp-route-shelfId="@item.ShelfId" asp-route-slug="@item.Slug">
                                    @item.Title
                                </a>
                            </h5>
                            <h6>@item.BookDetail?.Subtitle</h6>
                            <p class="card-text">@Html.Raw(item.Description)</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    @if (item.BookDetail?.BookAuthorList != null)
                                    {
                                        @string.Join(", ", item.BookDetail?.BookAuthorList.Select(b => b.Author.Name))
                                    }
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@section Scripts{
    <script>
        $(document).ready(function() {
            ShelfController.init({
                title: "@Model.Title",
                id: @Model.Id,
                userName: "@Model.CreatedBy.Name"
            });
        });
    </script>
}