@model IEnumerable<Shelf>
@{
    ViewData["Title"] = "Home Page";
}
<h2></h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        @foreach (var shelf in Model)
        {
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">@shelf.Title</h3>
                </div>
                <div class="panel-body">
                    <p>@shelf.CreatedBy.Name on @shelf.CreationDate.ToLongDateString()</p>
                </div>
                <!-- Table -->
                <table class="table">
                    <thead> <tr> <th>#</th> <th>Book</th> </tr> </thead>
                    <tbody>
                    @{ var i = 0;}
                    @foreach (var book in shelf.Books)
                    {
                        <tr> <th scope="row">@Html.Raw(++i)</th> <td>@book.Title</td> </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="col-md-3">
    </div>
</div>